<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="P12FIleLocation" value="C:\Users\Mike\Vms\Share\d2\ApplePush.p12" />
  <add key="P12FIlePassword" value="gege" />
</appSettings>