@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Ajax.BeginForm("Register", "Home", new AjaxOptions
        {
            LoadingElementDuration = 500,
            LoadingElementId = "Progress",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "$('form').cleanDirty();window.location=window.location",
            HttpMethod = "POST"

        }))
{
    <input type="text" id="userId" name="userId" />
    <input type="text" id="deviceId" name="deviceId" />
    <input type="text" id="deviceType" name="deviceType" />
    <input type="submit" value="submit" />

}

@using (Ajax.BeginForm("TestSend", "Home", new AjaxOptions
        {
            LoadingElementDuration = 500,
            LoadingElementId = "Progress",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "$('form').cleanDirty();window.location=window.location",
            HttpMethod = "POST"

        }))
{
    <input type="submit" value="test Send To First User" />

}
@using (Ajax.BeginForm("GetFeed", "Home", new AjaxOptions
        {
            LoadingElementDuration = 500,
            LoadingElementId = "Progress",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "$('form').cleanDirty();window.location=window.location",
            HttpMethod = "POST"

        }))
{
    <input type="text" id="userId" name="userId" value ="1" />
    <input type="text" id="startAt" name="startAt" value ="0"/>
    <input type="submit" value="GetNotification" />

}